section {
  border: solid black 1px;
  margin :20px;
  height: 40vh;
}

#btnClose {
  width: 80px;
  border: outset;
  color: orange;
}
#btnClose:hover{
  border:inset;
}
.view{
  width: 50%;
  border: solid red 1px;
}
